; Copy this file to config.ini and modify the values according to your needs.

[comfyui]
    comfyui_path = /path/to/your/ComfyUI
    python_path = /path/to/your/ComfyUI/venv/bin/python
    url = localhost:8188
    ; uncoment the next ligne to add some parameters to start ComfyUI server
    ; params = --use-sage-attention